body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

input, textarea, select {
  padding: 10px;
  font-size: 15px;
}

button {
  padding: 10px;
  margin-right: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background: #dc2626;
}

.task-card {
  background: #f9fafb;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
}
